<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/login_style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

<div id="navbar">
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <!--        <a th:href="@{/about}">About</a>-->
        <!--        <a th:href="@{/clients}">Clients</a>-->
        <!--        <a th:href="@{/topics}">Topics</a>-->
        <!--        <a th:href="@{/contacts}">Contacts</a>-->
        <nav class="hover-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                    <a th:href="@{/about}">About</a></li>
                <li class="nav-item" th:classappend="${module == 'clients' ? 'active' : ''}">
                    <a th:href="@{/clients}">Clients</a></li>
                <li class="nav-item" th:classappend="${module == 'topics' ? 'active' : ''}">
                    <a th:href="@{/topics}">Topics</a></li>
                <li class="nav-item" th:classappend="${module == 'contacts' ? 'active' : ''}">
                    <a th:href="@{/contacts}">Contacts</a></li>
                <li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/web/home}">Home</a>
                </li>
            </ul>
        </nav>

    </div>
    <a href="#default" id="logo">
        <button class="openbtn" onclick="openNav()">☰ Toggle Sidepanel</button>
    </a>
    <div id="navbar-right">
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit" style="color: aliceblue;background-color: #818181">Submit</button>
            </form>
        </div>
        <a th:href="@{/artist}">Artist</a>
        <a th:href="@{/join}">Join</a>
        <a class="active" th:href="@{/login}">Login</a>
    </div>
</div>
<!--finish navbar-->

<!--zdes nado sozdat logina kod-->
<div style="margin-top:110px;font-size:25px;margin-bottom:210px;color: aliceblue">

    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
    </div>

</div>
<!--i do suda-->
<footer>
    <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
    </div>
    <span>Art Design Blog Page</span>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{../js/login_func.js}"></script>
</body>
</html>